.h1 {
    color: black;
}
.pringles-class {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.vid-class {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.button-class {
    color: darkgoldenrod;
    font-size: 25px;
}
.css-button {
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
}
.css-button {
    transition-duration: 0.4s;
}
.css-button:hover {
    background-color: black;
    color: white
}
.h6 {
    color: darkgoldenrod;
}
.txt {
    color: white;
    opacity: 1;
}
.txt-2 {
    background-color: rgba(255, 99, 71, 0.2);
}
.obama-class {
    width: 100%;
    height: 200px;
}
.first-table {
    color: white;
    width: 250px;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: left;
}
.body {
    background-image: linear-gradient(to bottom right, #C33764, #1D2671);
    background-attachment: scroll;
}
.b-1 {
    border-style: dotted;
    border-width: 2px;
    text-align: center;
}
.b-2 {
    border-style: ridge;
    border-width: 10px;
    border-color: red;
    text-align: center
}
.b-3 {
    border-style: outset;
    border-width: 10px;
    text-align: center;
}
.b-4 {
    border-left: 20px solid black;
    background-color: lightblue;
    text-align: center;
}
.b-5 {
    border: 5px solid red;
    border-radius: 5px;
    text-align: center;
}
.vidd {
    text-decoration: none;
}
/* This is how you comment in CSS */
/* You're able to change the pos of the background by writing backgroud-position: right top */
/* background-repeat: repeat-x; allows to make the background repeat */
/* border-width can have up to four value these include: top, right, bottom and left */
/* border-side-style allows you to pick a different border style for each section, top, right, bottom and left */
/* You can manipulate text in many ways. text-decoration: none removes underlining in an link*/
