.pringles-class {
    width: 100px;
    height: 250px;
    object-fit: cover;
}
.logo-class {
    color: darkgoldenrod;
}

.song-class {
    color: darkgoldenrod;
    font-size: 50px;
}
.vid-class {
    height: 500px;
    width: 1000px;
    object-fit: cover;
}
.song-yt {
    color: darkgoldenrod;
    font-size: 25px;
}
.button-class {
    color: darkgoldenrod;
    font-size: 25px;
}
.css-button {
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
}
.css-button {
    transition-duration: 0.4s;
}
.css-button:hover {
    background-color: black;
    color: white
}
<!--- Made the button fade in and out--->
