.h1 {
    color: black;
}
.pringles-class {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.vid-class {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.button-class {
    color: darkgoldenrod;
    font-size: 25px;
}
.css-button {
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.css-button:hover {
    background-color: black;
    color: white
}
.h6 {
    color: darkgoldenrod;
}
.txt {
    color: white;
    opacity: 1;
}
.txt-2 {
    background-color: rgba(255, 99, 71, 0.2);
}
.obama-class {
    width: 100%;
    height: 200px;
}
.first-table {
    color: white;
    width: 250px;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: left;
}
body {
    background-image: linear-gradient(to bottom right, #C33764, #1D2671);
    background-attachment: scroll;
}
.b-1 {
    border-style: dotted;
    border-width: 2px;
    text-align: center;
}
.b-2 {
    border-style: ridge;
    border-width: 10px;
    border-color: red;
    text-align: center
}
.b-3 {
    border-style: outset;
    border-width: 10px;
    text-align: center;
}
.b-4 {
    border-left: 20px solid black;
    background-color: lightblue;
    text-align: center;
}
.b-5 {
    border: 5px solid red;
    border-radius: 5px;
    text-align: center;
}
.shadow {
    text-shadow: 2px 2px;
}
.shadowc {
    text-shadow: 2px 2px red;
}
.shadowcb {
    text-shadow: 2px 2px 5px blue;
}
a {
    color: darkslategrey;
    text-decoration: none;
}
div {
    overflow: auto;
    width: 100%;
    height: 100px;
}
.float-img {
    float: right;
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
hr {
    border-color: black;
    background-color: black;
}
/* This is how you comment in CSS */
/* You're able to change the pos of the background by writing backgroud-position: right top */
/* background-repeat: repeat-x; allows to make the background repeat */
/* border-width can have up to four value these include: top, right, bottom and left */
/* border-side-style allows you to pick a different border style for each section, top, right, bottom and left */
/* You can manipulate text in many ways. text-decoration: none removes underlining in an link*/
/* text-transform has three options. uppercase, lowercase and capitalize. */
/*Links can have different colours depending on the state they're in. These are a:link a:visited a:hover and a:active */
/* z-index controls where text is put where an image is behind it. You can z-index: -1 to put the text infront of the image or z-index: 1 to put it behind an image */
/* Combinators. Here are the four combinators, space, >, + and ~ */
